.layout{

    margin: 0 auto;
    width: 1320px;




}

.menu{
display: flex;
height: 100px;

}



.menu_item a{

    color: #C3C5CB;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    height: 60px;
}

.menu_item a[class='active']{
    color: #00A4CD;




}