.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211E2D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    height: 60px;
    column-gap: 30px;
}

.header a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header a[class='active']{
    color: #0277FF;
    font-weight: 600;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}