.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: rgb(4, 28, 68);
    background: linear-gradient(135deg, rgba(4, 28, 68, 1) 0%, rgba(9, 164, 219, 1) 100%);
}

.stars {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.card_img img {
    height: 450px;
    width: 300px;
    border-radius: 6px 6px 0 0;
}

.card_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin: 24px 24px 50px;
    color: #E3F9FF;
}

.card_title div {
    text-align: center;
}



